.git
.gitignore
.env
node_modules
vendor
public/storage
storage/logs/*.log
storage/framework/cache
storage/framework/sessions
storage/framework/views
*.md
docker-compose*.yml
Dockerfile
.claude
tests
